/* micro clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ================================================================================= */

/* format css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================================================================================== */


body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333333;
}


.topbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    right: 0px;
    background-color: skyblue;
    border-bottom: 3px solid red;
    z-index: 3;
}

.container{
    width: 960px;
    margin: 80px auto;
    background: white;
    position: relative;
}

.twitter{
    width: 200px;
    height: 200px;
    background-image: url(gambar/Twitter.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: -13px;
    right: -13px;
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header a{
    text-decoration: none;
    color: red;
    padding: 5px;
}

.header a:hover, .content .penulis a:hover{
    background-color: rgb(65, 200, 224);
    color: white;
}

.hero{
    height: 330px;
    background-image: url(Gambar/Book.jpg);
    background-size: cover;
    background-position: 0px -40px;
    border-top: 5px red solid;
    border-bottom: 5px violet solid;
}

.main{
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}
.main h2{
    font-size: 24px;
    font-weight: bold;
}

.main .penulis{
    font-size: 11px;
    margin-top: -5px;
}

.main p{
    margin-bottom: 20px;
    font-size: 13px;
    text-align: justify;
}

.main .penulis a{
    color: red;
    text-decoration: none;
}


/* sidebar */
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3{
    font-weight: bold;
}

.sidebar img{
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}

.sidebar p{
    font: 12px/18px arial;
    text-align: justify;
}
.footer {
    background-color: #2f3640;
    padding: 20px;
}

.footer .copy{
    color: white;
    text-align: center;
font-size: 13px;
}